{% extends "mytemplate.html" %}

{% block bodycontent %}

<body background="static/Images/wall.webp" height="2000" width="1000";/>

<h2>About Doctor On Cloud</h2>
<div class="p">
<p><i>This artificial intelligence software is for health care sector. Entering the patient details in the software will analyze the patient details and predict the type of the disease patient is having and suggested treatment. The system also intelligent enough to analyze the past history of the patient.<br>
    It is web-based application. Storing and retrieving the information of patients and doctors. A vast volume of information gives from this software. Improve patient recall and compliance: One of the biggest benefits of the cloud for doctors is that it helps patients better manage their own health.
    Cloud-based patient education programs improve patient recall and compliance because they allow people to access procedure and explanations at home after an appointment, or wherever they’re thinking about their health. <br>Patients can also share the materials with their families and anyone else involved in their care.
    Having access to that information on their own time cuts down on routine questions and calls to their doctor, because they no longer have to rely on their health care provider or their memory to recall important health information.
</i></p><br></div>

<h2>Benefits</h2>
<div class="p">
<p><i>Cloud facilitates technologies that are used in healthcare like electronic medical records, mobile apps, patient portals, devices with IoT, big data analytics.
    It provides hassle-free scalability and flexibility, which in turn improves the ultimate decision-making process.<a href="/benefits">Click here to know more!</a></i></p><br>
</div>
{% endblock %}