<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor_App.com</title>
     <link rel="stylesheet" href="{{url_for('static', filename='CSS/Style.css')}}">
    </head>
<style>
body  {
  background-color: #92a8d1;
}
</style>
<body>
<!-- Navbar items -->
    <div id="navlist">
        <a href="/">Home</a>
         <a href="/about">About</a>
        <a href="/login">Login</a>
        <div class="navlist-right">
        <a href="/Contact">Contact Us</a>
        </div>
    </div>

<br>
<center><h1 style="font-family:monospace font-size:40;"> <img src="static/Images/icon.png" height="30" width="30" align="center"/> Doctor On Cloud </h1></center>

<br>


<center><img src="static/Images/Benefits.jpg" width="1000" height="500"></center><br><br>

<p>Cloud facilitates technologies that are used in healthcare like electronic medical records, mobile apps, patient portals, devices with IoT, big data analytics.
    It provides hassle-free scalability and flexibility, which in turn improves the ultimate decision-making process.<br><br>
    1. Collaboration: Sharing facilitates collaboration. With cloud computing, the process of data sharing has become a lot easier and simpler.
    As healthcare information is meant to stay confidential, with the cloud, the data can be securely shared among all the relevant healthcare stakeholders like doctors, nurses, and care-givers that, too, in real-time.<br><br>
    2. Security: Healthcare data needs to stay confidential. The abundant data held by this domain makes it a focal point of attraction to the malicious actors, resulting in security and data breaches.
    The cloud network ensures safety as it has specific security tools that can inform you about suspicious attempts.<br><br>
    3. Cost: Cloud can hold an enormous amount of information at a very minimal cost.
    Cloud computing works on the pay-as-you-go and subscription model, which indicates you only have to pay for those services which you are availing.<br><br>
    4. Speed: Speed is a significant criterion before making decisions about selecting any technology.
    Cloud-based tools can update and upgrade their features at a commendable pace with minimal intervention, and you can get real-time updates as well on all the relevant information.<br><br>
    5. Scalability and Flexibility: Healthcare organizations operate in a dynamic environment.
    Cloud facilitates technologies that are used in healthcare like electronic medical records, mobile apps, patient portals, devices with IoT, big data analytics.
    It provides hassle-free scalability and flexibility, which in turn improves the ultimate decision-making process.<br><br>
</p>

</body>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section class="footer">
    <p class="copyright">
        @ copyright Doctor On Cloud. <br>
        All rights reserved
    </p>
</section>
</html>