<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor_App.com</title>
      <link rel="stylesheet" href="{{url_for('static', filename='CSS/Style.css')}}">
</head>
<style>
body  {
  background-color: #92a8d1;
}
</style>
<body>
<!-- Navbar items -->
    <div id="navlist">
        <a href="/">Home</a>
         <a href="/about">About</a>
        <a href="/login">Login</a>
        <div class="navlist-right">
        <a href="/Contact">Contact Us</a>
        </div>
    </div>
<br>
<br>

<center><h1 style="font-family:monospace font-size:40;"> <img src="static/Images/icon.png" height="30" width="30" align="center"/> Doctor On Cloud </h1></center>

<br>



<center><h2>Contact Us.</h2>
    <p style="font-family:courier;">
    Sushmasudan.M<br>
    Siddaganga Institute of Technology<br>
    Tumakuru<br>
    Pin Code:572102<br><br>

    Contact:9901237833
</p></center>

</body>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section class="footer">
    <p class="copyright">
        @ copyright Doctor On Cloud. <br>
        All rights reserved
    </p>
</section>
</html>