<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor_App.com</title>
      <link rel="stylesheet" href="{{url_for('static', filename='CSS/Style.css')}}">
</head>
<style>
body  {
  background-color: #92a8d1;
}
</style>
<body>
<!-- Navbar items -->
    <div id="navlist">
        <a href="/">Home</a>
         <a href="/about">About</a>
        <a href="/login">Login</a>
        <div class="navlist-right">
        <a href="/Contact">Contact Us</a>
        </div>
    </div>

<br>
<center><h1 style="font-family:monospace font-size:40;"> <img src="static/Images/icon.png" height="30" width="30" align="center"/> Doctor On Cloud </h1></center>


<br>
<!--
<nav><center>
     🏠 <a href="/"> Home </a>
   = <a href="/about"> About </a>
   🔓 <a href="/login"> Login </a>
</center></nav>
-->


<h2>Login Here</h2>

<form action="/validate" method="post">
        <fieldset>
        <p>
            <label for="un" >UserName:</label>
            <input type="text" id="un" name="uname" align="left" required/>
        </p>
        <p>
            <label for="pwd">Password:</label>
            <input type="password" id="pwd" name="password" align="left" required>
        </p>
            <p>
                <input type="submit" value="Click Here To Login">
            </p>
        </fieldset>
</form>

<!--<form action="/validate" method="post">

   UserName:<input type="text" name="uname" size="24" required>
    <br>
    <br>

    Password:<input type="password" name="pw" size="25" required>
    <br>
    <br>
    <input type="submit" value="Click Here To Login">

</form>-->

<br>
<br>
<a href="/newuser">  New User? Register Here </a>



</body>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section class="footer">
    <p class="copyright">
        @ copyright Doctor On Cloud. <br>
        All rights reserved
    </p>
</section>
</html>